<!DOCTYPE html>
<html>
  <head>
    <title>SecondApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
#    <link rel="stylesheet" href="assets/css/main.css" />
#		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

  </head>

  <body>
    <%= render partial:'/layouts/navbar' %>
    <div class="wrapper style2">
			<article id="main" class="container special">
				<p>
					<%= yield %>
				</p>
			</article>
		</div>
    <%= render partial:'/layouts/footer' %>
  </body>
  
      <script src="assets/javascripts/jquery.min.js"></script>
      <script src="assets/javascripts/jquery.dropotron.min.js"></script>
      <script src="assets/javascripts/jquery.scrolly.min.js"></script>
      <script src="assets/javascripts/jquery.scrollex.min.js"></script>
      <script src="assets/javascripts/browser.min.js"></script>
      <script src="assets/javascripts/breakpoints.min.js"></script>
      <script src="assets/javascripts/util.js"></script>
      <script src="assets/javascripts/main.js"></script>     
        
  </body>
</html>
